/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    color: gray;
    font-family:'Work Sans', 'Century Gothic', CenturyGothic, AppleGothic, Arial, sans-serif;
    font-size: 10px;
    height: 100vh;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

header {
    background-color: #014989;
    -webkit-box-shadow: 0px -6px 6px 6px rgba(0,0,0,0.75);
    box-shadow: 0px -6px 6px 6px rgba(0,0,0,0.75);
    height: 55px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

header > * {
    display: inline;
    float: left;
}

.hamburger {
    cursor: pointer;
    padding: 20px;
    width: 65px;
}

.hamburger > * {
    background-color: white;
    border-radius: 1px;
    width: 100%;
    height: 3px;
}

.hamburger > *:not(:last-child) {
    margin-bottom: 3px;
}

.title {
    color: white;
    height: 100%;
    padding: 15px 0px 15px 0px;
}

.sidemenu-cover {
    background-color: rgba(0,0,0,0.2);
    display: none;
    height: 100vh;
    left: 0px;
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100vw;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    z-index: 2;
}

.sidemenu-cover-active {
    display: block;
    opacity: 1;
}

.sidemenu-content {
    background-color: white;
    height: 100vh;
    left: -75vw;
    overflow-x: hidden;
    padding-top: 55px;
    position: fixed;
    top: 0px;
    width: 75vw;
    z-index: 3;
    -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s, box-shadow 0.3s;
}

.sidemenu-content a:not(:first-child) {
    align-items: center;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    min-width: 170px;
    padding: 15px 8px 15px 32px;
    text-decoration: none;
}

.sidemenu-content a span {
    margin-left: 8px;
}

.sidemenu-active {
    -webkit-box-shadow: -6px 0px 6px 6px rgba(0,0,0,0.75);
    box-shadow: -6px 0px 6px 6px rgba(0,0,0,0.75);
    -webkit-transform: translateX(75vw);
    transform: translateX(75vw);
}

.active {
    background-color: lightgray;
}

.sidemenu-content .closebtn {
    color: gray;
    font-size: 36px;
    font-weight: bold;
    height: 45px;
    margin-left: 50px;
    padding: 0px 10px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
}

section {
    font-size: 14px;
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    padding: 75px 20px 20px 20px;
    width: 100%;
}

#institution {
    position: relative;
    padding-top: 180px;
}

#institution-img {
    -webkit-background-size: cover;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../img/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 105px;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: -1;
}

#institution-img span {
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    color: white;
}

.institution-topic  {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 15px 0 5px 0px;
    padding-bottom: 3px;
}

.institution-topic h2 {
    font-size: 1em;
    margin-left: 10px;
    text-transform: uppercase;
}

.gradient {
    background: linear-gradient(to right, #014989, #31b0d5);
    bottom: 0px;
    height: 1px;
    left: 0px;
    position: absolute;
    width: 100%;
}

#system, #config {
    display: none;
}

#system {
    padding: 55px 0px 0px 0px !important;
}

.load-container {
    align-items: center;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.load {
    background-image: url(../img/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    height: 80px;
    margin-bottom: 5px;
    width: 80px;
    -webkit-animation: rotation 1.5s infinite;
    animation: rotation 1.5s infinite;
}

@-webkit-keyframes rotation {
    from   {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@keyframes rotation {
    from   {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.connection-container {
    align-items: center;
    background-color: #EAEAEA;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.connection {
    background-image: url(../img/offline.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    height: 100px;
    margin-bottom: 5px;
    width: 100px;
}

.tutorial-container {
    align-items: center;
    background-color: #EAEAEA;
    flex-direction: column;
    display: none;
    height: 100%;
    justify-content: flex-end;
    padding: 10px 10px 0 10px;
    text-align: center;
    width: 100%;
}

.tutorial-description {
    margin-top: 20px;
}

.phone {
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    border: 2px solid gray;
    border-bottom: none;
    height: 70%;
    margin: 30px 0px 0px 0px;
    padding: 35px 15px 0px 15px;
    width: 90%;
    position: relative;
}

.phone-head {
    background-color: white;
    height: 10%;
}

.speaker {
    border-radius: 5px;
    border: 2px solid gray;
    display: block;
    height: 10px;
    margin: 0 auto;
    width: 50px;
}

.inner-phone {
    background-color: #EAEAEA;
    border-radius: 2px 2px 0px 0px;
    border: 2px solid gray;
    border-bottom: none;
    height: 90%;
    width: 100%;
}

.status-bar {
    background-color: gray;
    color: white;
    font-size: 0.7em;
    height: 14px;
    text-align: center;
}

.header-bar {
    height: 30px;
    padding: 10px;
    background-color: darkgray;
}

.header-bar h1 {
    color: white;
    font-size: 10px;
}

.header-bar > * {
    display: inline;
    float: left;
}

.small-hamburger {
    margin-right: 10px;
    width: 20px;
}

.small-hamburger > * {
    background-color: white;
    border-radius: 1px;
    width: 100%;
    height: 2px;
}

.small-hamburger > *:not(:last-child) {
    margin-bottom: 2px;
}

.tutorial-body > * {
    font-size: 10px;
}

.tutorial-body h2 {
    margin-top: 20px;
}

.tutorial-body p {
    padding: 10px;
}

.tutorial-body > div {
    align-items: center;
    background-color: #dadada;
    border-radius: 15px;
    display: flex;
    height: 30px;
    justify-content: flex-start;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px;
}

.tutorial-body span {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
}

#app-frame {
    border: none;
    display: none;
    height: 100%;
    width: 100%;
}

#config > h1 {
    margin-top: 10px;
    text-align: center;
}

#config > p {
    padding-top: 15px;
    text-align: center;
}

.group {
    margin-top: 35px;
    position: relative;
    width: 100%;
}

.input {
    border: none;
    display: block;
    padding: 10px 10px 10px 30px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    height: 46px;
}

.input:focus {
    outline: none;
}

.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #1f1f1f;
    outline: none;
}

label {
    color: gray;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 15px;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}

#config a {
    color: #014989;
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.wave {
    -webkit-background-size: contain;
    background-image: url(../img/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 20px;
    height: 100px;
    left: 0px;
    position: absolute;   
    width: 100%;
    z-index: 1;
}

.hide-wave {
    display: none;
} 